@model IEnumerable<FoodDeliveryApp.Models.FoodDelivery>

@{
    ViewBag.Title = "ViewAllDeliverables";
}

<h2>ViewAllDeliveries</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pickup_Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Drop_Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer_Mobile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Delivery_Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pickup_Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Drop_Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer_Mobile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Delivery_Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Delivery_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Delivery_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Delivery_Id })
        </td>
    </tr>
}

</table>
